.bg{
    &-about{        
        @include set-background($bg__about-img,0,"top center","cover","scroll");

    }
    &-home{
        @include set-background($bg__home-img,0,"top center","cover","scroll");
    }
    &-offer{
        @include set-background($bg__offer-img,0,"center","cover","fixed");
    }
    &-violet{
        background-color: $color__violet!important;
    }
}
.border{
    &-violet{
        border-color: $color__violet!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
.text{
    &-violet{
        color: $color__violet!important;
    }
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "JotiOne";
    letter-spacing: 1px;
}
textarea{
    resize: none;
}